.bill-modal-wrapper{
  position: /*fixed;*/ absolute;

  z-index:  2;
  //background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  &:after{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
  }
}
.bill-modal-wrapper-indent-left{
  padding-left: 260px;
  @media (max-width: 650px){
    padding-left: 335px;
  }
}
.bill-modal{
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  padding: 25px;
}

.bill-modal_add .bill-modal__content{
  height: auto;
  max-width: 300px;
  overflow: inherit;
}

.bill-modal__content{
  background-color: #fff;
  padding: 20px;
  max-height: 90%;
  /*max-width: 900px;*/
  width: 80%;
  overflow: auto;
  position: relative;
  margin: 0 auto;
  z-index:  1;
}
//@media only screen and (max-height: 550px) {
//  .bill-modal__content{
//    height: 300px;
//  }
//}
//@media only screen and (max-height: 400px) {
//  .bill-modal__content{
//    height: 220px;
//  }
//}
.bill-modal__filters{
  padding: 10px;
  background-color: #ebebec;
}
.bill-modal__filters__button_indent{
  @media only screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
}
.bill-modal__row{
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .bill-modal__column_sm{
    margin-bottom: 10px;
  }
}
.bill-modal__selected-text, .calendar-tasks__selected-text{
  display: block;
  font-size: 12px;
  color: #545454;
  padding-left: 5px;
}
.bill-modal__selected-with-button_inline{
  display: flex;
  align-items: center;
}
.bill-modal__selected-with-button_inline .bill-modal__selected{
  width: 100%;
  margin-right: 5px;

}

.bill-modal__input_inline{
  display: flex;
  align-items: center;
  .bill-modal__selected-text, .calendar-tasks__selected-text{
    padding-right: 5px;
    padding-left: 0;
    width: 20%;
    min-width: 70px;
  }
}

.bill-modal .column-checkbox{
  min-width: 120px;
}
.bill-modal .column-date{
  min-width: 100px;
}
.bill-modal .column-time{
  min-width: 90px;
}
.bill-modal .column-project{
  width: 36%;
  min-width: 180px;
}
.button__size_s{
  height: 30px;
  line-height: normal;
  padding: 8px 15px;
  font-size: 12px;
}
.bill-modal-controls{
  margin-top: 20px;
}
.bill-modal-controls__item button{
  width: 100%;
}
.bill-modal-controls__or{
  display: block;
  text-align: center;
  text-transform: uppercase;
  background-color: #ebebec;
}

.bill-modal__button-close{
  background-color: #fff;
  position: absolute;
  right: 10px;
  margin-top: 10px;
  top: 0;
  border: none;
  font-size: 14px;
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

/*custom selected*/
.multiselect_size_s{
  min-height: 28px !important;
  .multiselect__single{
    font-size: 12px !important;
    margin-bottom: 0 !important;
  }
  .multiselect__tags{
    padding: 5px 30px 0 5px !important;
    min-height: 30px !important;
  }
  .multiselect__select{
    width: 30px !important;
    height: 30px !important;
  }
  .multiselect__select:before{
    border-width: 4px 4px 0 !important;
    top: 57% !important;
  }
  .multiselect__option{
    font-size: 12px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    min-height: 30px !important;
  }
  .multiselect__option--highlight:after,
  .multiselect__option--selected:after{
    content: none !important;
  }
}


.billing-status-block{
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin-right: 2px;
}

/*form-control*/

.form-control-theme__light{
  border-color: #e8e8e8;
  color: #35495e;
  border-radius: 5px;
}

.form-size_s{
  border-width: 1px;
  border-style: solid;
  font-size: 12px;
  padding: 5px 5px 5px 6px;
  height: 30px;
  width: 100%;
}

/*table*/

.bill-modal__table .table-component{
  overflow-y: hidden;
  overflow-x: auto;
}

.table-component .table-component__table-wrapper tr{
  border-bottom-color: #fff;
}
.bill-modal__table .table-component .table-component__table-wrapper table.table-component__table tbody tr td:last-child{
  text-align: center;
  background-color: #ebebec;
}
.bill-modal__table .table-component{
  margin-top: 20px;
}
.table-component__task-name,
.table-component__board-name,
.table-component__user-name{
  margin-bottom: 2px;
}
.table-component__task-name{
  font-weight: bold;
}
.table-component__task-name:last-child,
.table-component__board-name:last-child,
.table-component__user-name:last-child{
  margin-bottom: 0;
}

.edit-bill-table{
  table{
    width: 100%;
  }
}

.edit-bills-table{
  td{
    width: 1%;
  }
}

.edit-bills-table__input{
  width: 70px;
}

.bill-modal__table .table-component .table-component__table-wrapper table.table-component__table tbody tr td:first-child{
  padding: 7px 10px!important;
  text-align: center;
}

