/node_modules
/public/css/app.css
public/css/print.css
/public/css/app.css.map
/public/js
/public/mix-manifest.json
/public/hot
/public/js/.DS_Store
/public/.DS_Store
/public/storage
/storage/*.key
/.idea
/.vscode
/.vagrant
/vendor
.env
.DS_Store
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
+storage/*.index
package-lock.json
yarn.lock
public/xhprof
/cypress/videos/*
/cypress/screenshots/*
laravel-echo-server.json
laravel-echo-server.lock
