<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    Options +FollowSymlinks

    RewriteCond %{ENV:HTTPS} !on
    RewriteCond %{HTTP_HOST} ^app\.oc\.plus$ [NC]
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{ENV:HTTPS} !on
    RewriteCond %{HTTP_HOST} ^(.+)\.boxibly\.com [NC]
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#    RewriteCond %{HTTP_HOST} ^(?:www\.)?+(.+?)\.(?!com$)[^.]+$ [NC]
#    RewriteRule .* https://%1.com/$0 [R=301,NE,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

</IfModule>
