.v--modal-overlay {
  background: rgba(0, 0, 0, 0.6);

  .v--modal {
    border-radius: 0;
    overflow: visible !important;
    z-index: 2;
    box-shadow: none;
  }

  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 46px;
    height: 46px;
    margin: -23px -23px 0 0;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent #fff transparent;
    animation:spin 1.2s linear infinite;
    z-index: 1;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 767px) {
    .v--modal {
      top: 0 !important;
      left: 0 !important;
      right: 0;
      margin: auto;
    }
  }
  
}

