i {
  &.ocam {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url('/images/ocam-icons.png');
    background-repeat: no-repeat;
    &.white-icon {
      filter: invert(1); 
    }
    &.grey-icon {
      filter: invert(0.65);
    }
    &.oc-cog {
      background-position: 0 0;
    }
    &.oc-sheep-wheel {
      background-position: -18px 0;
    }
    &.oc-clock {
      background-image: url('/images/clock.svg');
      background-size: 18px;
    }
    &.oc-turn {
      background-position: -54px 0;
    }
    &.oc-attention {
      background-position: -72px 0;
    }
    &.oc-round {
      background-position: 0 -18px;
    }
    &.oc-close-eye {
      background-position: -18px -18px;
    }
    &.oc-timer {
      background-position: -36px -18px;
    }
    &.oc-document {
      background-position: -54px -18px;
    }
    &.oc-hammer {
      background-position: -72px -18px;
    }
    &.oc-hexagon {
      background-position: 0 -36px;
    }
    &.oc-plus {
      width: 16px;
      height: 16px;
      background-image: url('/images/plus.svg');
      background-size: 16px;

    }
    &.oc-message {
      background-image: url('/images/envelope.svg'); 
      }
    &.oc-user {
      background-position: -54px -36px;
    }
    &.oc-star {
      background-position: -72px -36px;
    }
    &.oc-menu {
      background-image: url('/images/menu.svg');
      background-size: 18px; 
    }
    &.oc-search {
      background-image: url('/images/search.svg');
      // background-size: 16px; 
    }
    &.oc-list {
      background-image: url('/images/list.svg');
      // background-size: 16px; 
    }
      &.oc-task {
      background-image: url('/images/tasks.svg');
      // background-size: 16px; 
    }
  }
}