#managePipelines{
  //Modal
  .modal{
    .row {
      margin-top: 15px;
    }
    .btn-secondary {
      background-color: #425967;
    }
    .form-groups input,
    .form-boards input {
      width: auto;
    }
    .form-groups select,
    .form-boards select {
      display: none;
    }

    .modal-header {
      text-align:      center;
      .modal-title {
        font-weight:   bold;
        font-size:     20px;
        overflow:      hidden;
        text-overflow: ellipsis;
        display:       inline-block;

      }
    }
    .modal-body {

    }
    .modal-footer {
      background-color: #fff;
      border-top: 3px solid #e5e5e5;
    }
    .close {
      opacity: 1;
      transition: opacity 200ms;
    }
    .close:hover {
      opacity: .5;
    }

    select {
      padding:  inherit;
      border:   2px solid #e0e0e0;
    }
    input {
      padding:  inherit;
      border:   2px solid #e0e0e0;
    }

    //Multiselect
    .pipeline-multiselect-column,
    .pipeline-rule-multiselect-column {
      input {
        height:  unset;
        padding: 0 !important;
        border:  0 !important;
      }
      .multiselect__tag {
        background-color: #3097D1 !important;
        margin-bottom:    0;
      }
      .multiselect__tag-icon {
        line-height: 20px;

        &:focus,
        &:hover {
          background-color: #3097D1 !important;
        }
      }
      .multiselect__option--highlight,
      .multiselect__option--highlight:after {
        background: #5078f2 !important;
      }
    }
  }
}