#reports-table-section{
  margin-top: 10px;
  .table-root-wrapper{
    //background-color: white;
  }
}
.table-component{
  position: relative;
  width: 100%;
  //overflow-x: auto;
  .table-component__table-wrapper{
    width: 100%;

    table.table-component__table{
      thead.first-head{
        tr{
            th:first-child{
              padding: 7px 10px 7px 20px !important;
          }
        }
      }
      tbody{
        tr{
          td{
            background-color: white;
            &:first-child{
              padding: 7px 10px 7px 20px !important;
            }
          }
        }
      }
    }

    .table-component__table__head{
      tr{
        border-bottom: none !important;
      }
    }

    td, th{
      padding: 7px 10px;
    }

    tr{
      border-bottom: 1px solid lightgray;
    }
    .group-by-tr{
      background-color: #5077f2;
      color: white;
      font-weight: bold;
      border-bottom: none;
      td{
        background-color: #5077f2 !important;
      }
    }

    table{
      width: 100%;
      position: relative;
      .first-head{
        tr{
          height: 60px;
          background-color: black;
          th{
            color: white;
            font-weight: 600;
          }
        }
      }
      .other-head{
        tr{
          height: 0;
          font-size: 0;
        }
      }
      .column-group{
        width: 10%;
        min-width: 120px;
      }
      .column-board{
        width: 15%;
        min-width: 120px;
      }
      .column-task{
        //width: 15%;
        min-width: 120px;
        width: 200px;
      }
      .column-user{
        width: 12%;
        min-width: 100px;
      }
      .column-time-used{
        width: 8%;
        min-width: 130px;
      }
      .column-time-bill{
        width: 8%;
        min-width: 130px;
      }
      .column-billing-status{
        width: 9%;
        min-width: 100px;
      }
      .column-comment{
        width: 30%;
        min-width: 170px;
      }
      .column-billed{
        width: 5%;
        min-width: 100px;
      }
      .column-unbilled{
        width: 5%;
        min-width: 100px;
      }

      .table-component-footer-tr{
        background-color: lime;
        border-bottom: none !important;
      }

      .billing-status-block{
        width: 10px;
        height: 10px;
        display: inline-block;
        &.mixed{
          background: -moz-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* ff3.6+ */
          background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,0,255,1)), color-stop(100%, rgba(0,255,255,1))); /* safari4+,chrome */
          background: -webkit-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* safari5.1+,chrome10+ */
          background: -o-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* opera 11.10+ */
          background: -ms-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* ie10+ */
          background: linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* w3c */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#ff00ff',GradientType=1 ); /* ie6-9 */
        }
      }
      .billing-status-pencil{
        display: inline-block;
        margin-left: 5px;
      }

      tbody{
        tr{
          &:last-child{
            border-bottom: none !important;
          }
        }
      }
    }
  }
  .column-header-hidden{
    visibility: hidden;
    padding: 0 !important;
  }
  .padding-time-total{
    padding: 7px 2px 7px 10px !important;
  }
  .reports-item-comment{
    a {
      color: #3097D1;
      text-decoration: none;
      &:hover {
        color: #67b2d1;
        text-decoration: underline;
      }
    }
  }
}